<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" media="screen" title="no title">
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="Sistema de ventas en javascript">
    <meta name="author" content="Fabian Napa">

  </head>
  <body>
    {{> header }}
    <!-- Main component for a primary marketing message or call to action -->
    {{{ body }}}

    <script src="/javascripts/jquery.min.js" charset="utf-8"></script>
    <script src="/javascripts/bootstrap.min.js" charset="utf-8"></script>
    <!-- <script src="/javascripts/login.js" charset="utf-8"></script> -->
  </body>
</html>
